// Variables //
$header-copy: 'Source Sans Pro', sans-serif;
$body-copy: 'Source Sans Pro', sans-serif;
$dark-gray: #333 !default;
$light-gray: #E0E0E0 !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$white: #ffffff;
$action-color: #CC3B6A;
$action-color-darker: #992C50;
$accent-color: #799299;
