// Variables //
$sans-serif: 'Source Sans Pro', sans-serif;


// Design Elements //
.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both;
}


// Main //
html { font-size: 62.5%; }
body {
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
  font-size: 1.6rem;
  text-align: left;
}
header, section { padding: 2rem; }

// Common Elements //
form {
  float: left;
  margin: 0 1rem;
}


// Projects //
